* body {
  margin: 0px;
  padding: 0px;
}

.pictures {
  display: grid;
  margin-right: 510px;
  row-gap: 45px;
  grid-template-columns: 40% 40%;
}

.pictures2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-e;
  align-items: end;
}

.gridcontainer {
  display: grid;
}

.right-grid-container {
  position: relative;
}

.navtext {
  text-align: center;
  color: white;
  margin: 13px;
  font-size: 15px;
}

.navbar {
  grid-row: 2 / 6;
  margin-bottom: 50px;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e60012;
}

.navigation {
  position: absolute;
  right: 100px;
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #e60012;
  justify-content: flex-end;
  gap: 22px;
}

.years {
  display: flex;
  position: absolute;
  margin-top: 70px;
  font-size: 6px;
  left: 310px;
  top: 78px;
  gap: 65px;
}

.a:hover {
  background-color: #303033;
  color: #fff;
}

.relase-bar-container {
  position: absolute;
  top: 105px;
  right: 290px;
  color: #fff;
  font-size: 15px;
}

.relase-bar-text {
  background-color: #303033;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.desc {
  width: 200px;
  margin-left: 20px;
}

.title {
  font-size: 20px;
  width: 300px;
  margin-left: 20px;
}

.date {
  margin-left: 20px;
}

.logo {
  position: absolute;
  left: 150px;
  height: 20px;
  right: 400px;
  height: 40px;
  width: 155px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  position: relative;
  margin-top: 50px;
  left: 300px;
  width: 700px;
}

@media screen and (max-width: 1272px) {
  .logo,
  .navigation {
    position: static;
  }

  .date,
  .picture,
  .title {
    position: static;
  }

  .flexer-content1 {
    position: relative;
    left: 0;
  }
}

@media screen and (max-width: 1608px) {
  .grid-container {
    position: relative;
    margin: 0;
    left: 0;
  }
}
