.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-container {
  position: relative;
  left: 41px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.right-grid-container {
  position: absolute;
  grid-row: 0 / 2;
  padding-left: 20px;
  right: 20%;
  top: 13.4%;
}

.navcontainer {
  margin-bottom: 100px;
  display: flex;
  background-color: #e60012;
  grid-row: 1 / 0;
  justify-content: center;
  grid-column: 1 / 9;
  align-items: center;
}

.pictures {
  position: relative;
  top: 20px;
  left: 308px;
  display: grid;
  row-gap: 45px;
  column-gap: 130px;
  grid-template-columns: 40% 40%;
  grid-row: 0 / 1;
  grid-column: 2 / 2;
  margin-left: 0px;
  padding-right: 31px;
  border-right: 1px solid #e5e5e7;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fil, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fil, minmax(100px, 1fr));
}

.pictures2 {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0px;
}

.lansering2 {
  align-self: start;
  grid-column: 2 / 2;
  font-size: 7px;
}

.picture-2-container {
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  top: -14px;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #2d2e33;
}

.title2 {
  margin: 0px;
  align-self: center;
  justify-self: stretch;
  width: 190px;
  flex-direction: co;
  font-size: 16px;
}

.desc {
  position: relative;
  color: #6c6d74;
  top: -40px;
}

.date {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #6c6d74;
  top: -30px;
  width: 200px;
}

.navtext {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}

.navigation {
  position: absolute;
  right: 140px;
}

.relase-bar-text {
  display: flex;
  background-color: #303033;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  padding-bottom: 17px;
  padding-top: 17px;
  line-height: 1.625;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.logo {
  height: 40px;
  position: absolute;
  left: 140px;
}

.navtext {
  font-size: 19px;
  margin: 20px;
}

.BorderPicture {
  grid-row: 5/ 4;
  position: relative;
  top: -265px;
  right: 50px;
  height: 240px;
  margin-bottom: -260px;
  border-left: 1px solid #e5e5e7;
  grid-column: 3 / 3;
}

.flexer-content3 {
  display: grid;
  height: 100px;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  margin: 0px;
}

.years {
  position: absolute;
  color: #6c6d74;
  left: 19.8%;
  letter-spacing: 1.5px;
  top: 14%;
  column-gap: 55px;
  font-size: 5px;
  grid-row: 2 / 3;
  display: flex;
}

@media only screen and (max-width: 1239px) {
  .pictures {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 200px;
  }
  .navcontainer {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1273px) {
  .navcontainer {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .navtext {
    align-self: flex-end;
  }

  .logo {
    align-self: flex-start;
  }

  .navigation {
    align-self: flex-start;
  }
}

@media only screen and (max-width: 1667px) {
  .right-grid-container {
    display: none;
  }
}

@media only screen and (max-width: 711px) {
  .logo {
    position: s;
    top: 0;
  }

  .navigation {
    position: static;
    margin: 0;
    top: 0;
  }
}
